.jumbotron{
	margin: 0px auto;
	padding:50px 0px 50px 0px;
	background-color: #8c8c8c;
	color: floralwhite;
}

.navbar{
	margin: 0px;
	padding: 5px 0px 5px 0px;
	background-color: #8c8c8c;
}

.img{
	margin: 0px;
	padding: 15px 0px 0px 0px;
}

.p{
	font-family: OCR A Std, monospace;
}

.b{
	font-family: Snell Roundhand, cursive;
	font-size: 35px;
}

.bt{
	border-radius: 50%;
}

.hey{
	color: #000000;
}

.section{
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
}

.h1{
	padding: 0px 0px 25px 0px;
}

.c{
	color: green;
}

.footer{
	background-color: #a3a375;
}