.jumbotron{
	margin: 0px auto;
	padding:50px 0px 50px 0px;
	background-color: #9575CD;
	color: floralwhite;
}

.navbar{
	margin: 0px;
	padding: 5px 0px 5px 0px;
	background-color: #9575CD;
}

.img{
	margin: 0px;
	padding: 15px 0px 0px 0px;
}

.p{
	font-family: OCR A Std, monospace;
}

.b{
	font-family: Snell Roundhand, cursive;
	font-size: 45px;
}

.bt{
	border-radius: 50%;
}

.hey{
	color: #000000;
}

.section{
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
}

.h1{
	padding: 0px 0px 25px 0px;
}

.c{
	color: #000000;
}

.table1{
	margin: 0px auto;
	padding: 150px 0px 150px 0px
}

.footer{
	background-color: #a3a375;
}

.carousel{
	background-color: black;
}

.carousel-inner{
	width: 900px;
	height: 650px;
}

.img{
	width: 895px;
	height: 600px;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.table{
	padding: 100px 0px 15px 0px;
}

.moveup{
	color: black;
}

#carouselButton{
	right: 0px;
	position: absolute;
	bottom: 0px;
}